{% for comment in comments %}
    <div class="media mb-4">
        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
        <div class="media-body" id="comments">
            <h5 class="mt-0">
                {{ comment.user.firstname }} {{ comment.createdAt|ago_datetime }}
            </h5>
            {{ comment.content }}
        </div>
    </div>
{% endfor %}

