/*!
 * Specific SCSS for snow-trick website
 */

@import "snow-tricks/arrow-wrapper";

.tricks_list {
  padding-top: 40px;
}

.trick-icons{
  padding: 10px;
}

.trick-info{
  font-size: large;
}

.frontpage-image{
  min-height: 500px;
  background: center center;
  text-align: center;
}

.frontpage-title {
  margin-top: 50vh;
  transform: translateY(-50%);
}

.media-wrapper__show {
  display: block;
}

.media-wrapper__hide {
  display: none;
}
.carousel-item {
  height: 95vh;
}
