<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                {{ 'trick.delete.title'|trans({}, 'modale') }}
            </div>
            <div class="modal-body">
                {{ 'trick.delete.description'|trans({}, 'modale') }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'trick.delete.button.cancel'|trans({}, 'modale') }}</button>
                <a class="btn btn-danger btn-ok">
                    {{ 'trick.delete.button.confirm'|trans({}, 'modale') }}
                </a>
            </div>
        </div>
    </div>
</div>
