{% extends 'base.html.twig' %}

{% block title %}Snowtricks! | {{ trick.name }}{% endblock %}

{% block body %}

    <!-- Page Content -->
    <div class="container">

        <!-- Portfolio Item Row -->
        <div class="row trick-show">
            <div class="col-md-12">
                <img class="img-fluid" src="http://placehold.it/1250x500" alt="">
            </div>
        </div>

        <div class="row trick-show">
            <div class="col-md-3 col-sm-6 mb-4">
                <a href="#">
                    <img class="img-fluid" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-md-3 col-sm-6 mb-4">
                <a href="#">
                    <img class="img-fluid" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-md-3 col-sm-6 mb-4">
                <a href="#">
                    <img class="img-fluid" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-md-3 col-sm-6 mb-4">
                <a href="#">
                    <img class="img-fluid" src="http://placehold.it/500x300" alt="">
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida
                    pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus.
                    Mauris ultricies, justo eu convallis placerat, felis enim.</p>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-md-12">
                <span class="badge badge-secondary trick-info">creation date : mardi 21 janvier 2018</span>
                <span class="badge badge-secondary trick-info">modification date : mardi 21 janvier 2018</span>
                <span class="badge badge-primary trick-info">Trick type : Grab</span>

            </div>
        </div>

        <hr/>

        <!-- Comments Form -->
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-md-10 mx-auto">

                    <form method="post">
                        <div class="input-group">
                            <textarea class="form-control"
                                      aria-label="Default"
                                      aria-describedby="inputGroup-sizing-default"
                                      id="content"
                                      name="content"
                                      placeholder="Votre message"
                                      maxlength="100"
                                      rows="1"></textarea>
                            <span class="input-group-btn">
                                <button class="btn btn-secondary" type="button">Leave a comment</button>
                            </span>
                        </div>

                    </form>

                </div>
            </div>
            <hr/>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto">
                        <div class="media mb-4">
                            <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                            <div class="media-body">
                                <h5 class="mt-0">jacky bernard</h5>
                                this is a content
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- /.container -->


{% endblock %}
