{% extends 'base.html.twig' %}

{% block title %}Snowtricks! | Homepage{% endblock %}

{% block body %}

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3">Sign up!</h1>

        <!-- Contact Form -->
        <div class="row">
            <div class="col-lg-8 mb-4">

                {{ form_start(userSignup, {'attr': {'novalidate': 'novalidate'}}) }}

                    {{ form_widget(userSignup) }}

                    <button type="submit" class="btn btn-primary">sign up</button>

                {{ form_end(userSignup) }}

            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->

{% endblock %}
